.more-from-your-location-root {
  width: 100%;

  .link-color {
    color: rgb(58, 134, 104);
  }

  .spacer-8 {
    margin: 8px;
  }
  
  .more-from-your-location-title {
    font-size: 24px;
    font-weight: bold;
  }
}
