#root {
	min-width: 300px;
	width: 100%;

	.global-app-container {
		display: flex;
		flex-direction: column;
		min-height: 100vh;

		.spacer-16 {
			margin: 16px;
		}

		.spacer-32 {
			margin: 32px;
		}

		.content-centerer {
			display: flex;
			justify-content: center;
			width: 100%;

			.content-container {
				display: flex;
				flex-direction: column;
				min-width: 300px;
				max-width: 600px;
				
				.content-item {
					display: flex;
					justify-content: center;
					margin: 12px;
				}
			}
		}
	}
}

